@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar แต่งเองให้สวยเข้ากับธีมมืด */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #0f0f15; 
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #333; 
  border-radius: 10px;
}
